@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    box-sizing: border-box;
}
main {
    margin: 0 10%;
}
.circle {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: #5005E7;
}
h1, h2, h3, h4 {
    font-family: var(--heading-ff);
    font-weight: var(--heading-weight);
}
h3 {
    font-size: var(--sub-title);
    font-weight: var(--paragraf-weight);
}
h2 {
    font-size: var(--title);
    font-weight: 500;
    line-height: 1.2;
    padding: 20px 0;
}
h1 {
    font-size: var(--l-title);
}
span {
    font-family: var(--heading-ff);
    font-weight: var(--paragraf-weight);
}
p {
    font-family: var(--paragraf-ff);
    font-weight: var(--paragraf-weight);
    line-height: 1.6;
}
nav {
    font-family: 'Poppins', sans-serif;
    display: flex;
    width: 100%;
    height: 150px;
    padding: 22px 0px;
    gap: 10px;
    justify-content: space-between;
}
nav ul {
    display: flex;
    align-items: center;
    padding: 0;
    gap: 50px;
}
nav ul li {
    list-style: none;
}
nav ul li a{
    position: relative;
    color: black;
    cursor: pointer;
    text-decoration: none;
    font-size: var(--paragraf-size);
}
nav ul li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 100%;
    height: 2px;
    background-color: var(--primary-color);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
}
nav ul li a:hover::after {
    transform: scaleX(1);
}
.group-btn,.user-navbar {
    display: flex; 
    align-items: center;
    gap: 20px;
}
.group-header{
    line-height: 60px;
    display: grid;
    gap: 0;
}
.group-header h1 {
    display: inline-block;
    position: relative;
    white-space: nowrap;
    width: max-content;
}
.group-header h1::before{
    content: "Designer";
    animation: word 20s infinite;
}
.group-header h1::after {
    content: "";    
    height: calc(100% + 10px);
    position: absolute;
    background-color: var(--white-text);
    top: 0;
    right: -8px;
    border-left: 4px solid var(--primary-color);
    animation: cursor 0.7s infinite, typing 20s steps(12) infinite;
}
@keyframes word {
    0%,25% {
        content: "UI UX Designer";
        color: #5005E7;
    }
    26%,50% {
        content: "Web Developer";
        color: #5005E7;
    }
    51%,75% {
        content: "Web Design";
        color: #5005E7;
    }
    76%,100% {
        content: "Data Entry";
        color: #5005E7;
    }
}
@keyframes cursor {
    to {
        border-color: transparent;
    }
}
@keyframes typing {
    0%,24%,26%,49%,51%,74%,76%,100%{
        width: calc(100% + 5px);
    }
    5%,18%,31%,44%,56%,69%,81%,94% {
        width: 0%;
    }
}
header {
    display: flex;
    align-items: center;
    gap: 10em;
}
header ul {
    display: flex;
    gap: 25px;
    padding: 0;
    align-items: center;
    list-style: none;
}
header ul li i {
    font-size: var(--title);
}
header ul li i:hover {
    
    color: var(--primary-color);
    cursor: pointer;
}

header img {
    border-radius: 100%;
}
.greeting {
    display: grid;
    padding: 64px 0;
    gap: 25px;
}
header img:hover {
    transform: scale(1.05);
    transition: all 0.3s ease;
    cursor: pointer;
    box-shadow: 0px 0px 120px rgba(0,0,0,0.25);
}
button {
    opacity: 1;
    padding: 15px 35px;
    border-radius: 12px;
    color: var(--white-text);
    background-color: var(--primary-color);
    font-size: var(--sub-paragraf-size);
    font-family: var(--paragraf-ff);
    font-weight: var(--heading-weight);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
button:hover {
    opacity: 0.5;
    cursor: pointer;
}
button img {
    width: 25px;
    height: 25px;
}
.origin {
    border: 2px solid var(--primary-color);
}
.origin a {
    text-decoration: none;
    color: var(--white-text);
}
.outline {
    border: 2px solid var(--primary-color);
    background-color: var(--white-text);
    color: var(--primary-color);
}
.line-height {
    position: sticky;
    top: 0;
    height: 100px;
}
.line {
    position: absolute;
    z-index: 2;
    width: 0%;
    height: 4px;
    background-color: var(--primary-color);
}
/* Navbar & Main */
section {
    display: flex;
    align-items: center;
    padding: 10% 0;
    gap: auto;
}
section .group-btn {
    margin-top: 20px;
    justify-content: center;
}
section:nth-child(1) {
    justify-content: space-around;
}
section:nth-child(2) {
    background-color: aliceblue;
    justify-content: space-around;
}
section:nth-child(3){
    background-color: #FFF4E5;
    justify-content: center;
}
section:nth-child(4){
    display: grid;
    justify-content: center;
}
section:nth-child(5){
    display: grid;
    justify-content: center;
    padding-bottom: 20%;
    height: auto;
}
.format-text {
    max-height: 600px;
    max-width: 550px;
    display: grid;
}
.format-text > *, .c-format-text > * {
    opacity: 0;
    transform: translateY(20px);
    animation: t-delay 0.5s forwards;
    animation-delay: var(--d);
}
.c-format-text {
    text-align: center;
    padding: 20px 0;
}

.service {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
}
.box {
    display: grid;
    justify-items: center;
    align-items: center;
    width: 200px;
    height: 100px;
    border: 2px solid var(--primary-color);
    border-radius: 24px;
    padding: 10px 0;
    box-shadow: -4px 4px 12px rgba(0,0,0, 0.25);
}
.box img {
    width: 50px;
    height: 50px;
}
.project {
    display: flex;
    white-space: nowrap;
    justify-content: none;
    width: 700px;
    overflow: hidden;
    text-align: left;
    gap: 35px;
    -webkit-mask-image: linear-gradient(to right, transparent, black 0%, black 50%, transparent);
}
.project img {
    object-fit: cover;
    width: 300px;
    height: 450px;
    border: 2px solid black;
    border-radius: 12px;
    min-width: 0;
    flex-shrink: 0;
}
.primary {
    color: var(--primary-color);
}
.secondary {
    color: var(--secondary-color);
}
.green {
    color: var(--other-color);
    font-weight: 500;
}
.reveal .green-mark {
    background-color: var(--other-color) !important;
    box-shadow: 0px 0px 8px var(--other-color);
    padding: 4px 8px;
}

.orange {
    color: var(--secondary-color);
    font-weight: 500;
}
.primary {
    color: var(--primary-color);
    font-weight: 500;
}
.marque {
    overflow: hidden;
    height: 100px;
    -webkit-mask-image: linear-gradient(to right, transparent,black 10%, black 90%,transparent);
}
.marque-wrapper {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
    animation: marque 12s linear infinite;
}
.marque-box {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 2px solid black;
    border-radius: 24px;
    padding: 15px 40px;
    width: 250px;
    flex-shrink: 0;
}
.marque-box img {
    width: 40px;
    height: 40px;
}

footer {
    display: grid;
    justify-items: center;
    padding: 30px;
    gap: 12px;
    text-align: center;
    background-color: var(--primary-color);
}
footer ul {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 0;
}
footer p {
    color: var(--white-text);
}
footer ul li {
    list-style: none;
    color: var(--white-text);
}
footer ul li a {
    text-decoration: none;
    color: var(--white-text);
    font-family: var(--paragraf-ff);
}
#GetinTouch {
    display: inline-block;
    text-decoration: underline;
    font-style: italic;
    text-underline-offset: 6px;
    color: black;
}
#GetinTouch:hover {
    opacity: 0.5;
    transform: translateY(0px);
    transition: all 0.3s ease;
}
#GetinTouch:active {
    opacity: 0.2;
    transform: translateY(5px);
    transition: all 0.1s ease;
}

.reveal span {
    opacity: 0;
    transform: translateY(20px);
    display: inline-block;
    transition: opacity 0.6s ease, transform 0.6s ease;
}
  
  .reveal.show span {
    opacity: 1;
    transform: translateY(0);
}

@keyframes t-delay {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes marque {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}
:root {
    --heading-ff: 'Poppins', sans-serif;
    --heading-weight: bold;
    --paragraf-ff: 'Inter', sans-serif;
    --l-title: 64px;
    --title: 40px;
    --sub-title: 24px;
    --paragraf-size: 18px;
    --sub-paragraf-size: 14px;
    --paragraf-weight: 400;
    --white-text: #FFFFFF;
    --primary-color: #5005E7;
    --secondary-color: #F79800;
    --other-color: #32C761;
}